fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
pandas
pymongo
valkey
urllib3
langchain
google-genai
langchain_google_genai
google.generativeai
langchain-community
sentence-transformers
hf_xet
openpyxl